<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">  

  <gazebo reference="chassis">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="rl_wheel_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="rr_wheel_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="fr_wheel_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="fl_wheel_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="imu_link">
    <gravity>true</gravity>
    <material>Gazebo/Grey</material>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu">
        <bodyName>imu_link</bodyName>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>imu_link</frameName>
        <initialOrientationAsReference>false</initialOrientationAsReference>
        <ros>
          <remapping>/imu/out:=/imu</remapping>
        </ros>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo reference="levibot/base_link/lidar">
    <sensor name='lidar' type='gpu_lidar'>
      <pose>0 0 0 0 0 0</pose>
      <topic>scan</topic>
      <update_rate>50</update_rate>
      <enable_metrics>false</enable_metrics>
      <lidar>
        <scan>
          <horizontal>
            <samples>640</samples>
            <resolution>1</resolution>
            <min_angle>-3.14159</min_angle>
            <max_angle>3.14159</max_angle>
          </horizontal>
          <vertical>
            <samples>16</samples>
            <min_angle>-0.261799</min_angle>
            <max_angle>0.261799</max_angle>
            <resolution>1</resolution>
          </vertical>
        </scan>
        <range>
          <min>0.080000000000000002</min>
          <max>10</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>none</type>
          <mean>0</mean>
          <stddev>0</stddev>
        </noise>
        <visibility_mask>4294967295</visibility_mask>
      </lidar>
    </sensor>
  </gazebo>

  <!-- Using ROS2 Control Instead -->
  <!-- <gazebo>
    <plugin name='skid_steer_drive' filename='libgazebo_ros_diff_drive.so'>

      <ros>
        <namespace>/demo</namespace>
        <argument>cmd_vel:=cmd_demo</argument>
        <argument>odom:=odom_demo</argument>
      </ros>

      <num_wheel_pairs>2</num_wheel_pairs>
      
      <left_joint>fl_wheel_joint</left_joint>
      <right_joint>fr_wheel_joint</right_joint>

      <left_joint>rl_wheel_joint</left_joint>
      <right_joint>rr_wheel_joint</right_joint>

      <wheel_separation>1.25</wheel_separation>
      <wheel_separation>1.25</wheel_separation>

      <wheel_diameter>0.06</wheel_diameter>
      <wheel_diameter>0.06</wheel_diameter>

      <max_wheel_torque>20</max_wheel_torque>
      <max_wheel_acceleration>1.0</max_wheel_acceleration>

      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf>
      <publish_wheel_tf>true</publish_wheel_tf>

      <odometry_frame>odom</odometry_frame>
      <robot_base_frame>chassis</robot_base_frame>

    </plugin>

  </gazebo> -->

</robot>
