<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">  

  <gazebo reference="chassis">
    <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo reference="rl_wheel_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Green</material>
  </gazebo>

  <gazebo reference="rr_wheel_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Green</material>
  </gazebo>

  <gazebo reference="fr_wheel_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Green</material>
  </gazebo>

  <gazebo reference="fl_wheel_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Green</material>
  </gazebo>

  <!-- <gazebo reference="imu_link">
    <gravity>true</gravity>
    <material>Gazebo/Green</material>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu">
        <bodyName>imu_link</bodyName>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>imu_link</frameName>
        <initialOrientationAsReference>false</initialOrientationAsReference>
        <ros>
          <remapping>/imu/out:=/imu</remapping>
        </ros>
      </plugin>
    </sensor>
  </gazebo> -->

  <gazebo reference="levibot/base_link/gpu_lidar">
    <sensor name='gpu_lidar' type='gpu_lidar'>
      <pose>0 0 0 0 0 0</pose>
      <topic>scan</topic>
      <update_rate>30</update_rate>
      <lidar>
        <scan>
          <horizontal>
            <samples>320</samples>
            <resolution>1</resolution>
            <min_angle>-1.396263</min_angle>
            <max_angle>1.396263</max_angle>
          </horizontal>
          <vertical>
            <samples>1</samples>
            <resolution>1</resolution>
            <min_angle>0.0</min_angle>
            <max_angle>0.0</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.08</min>
          <max>30.0</max>
          <resolution>1</resolution>
        </range>
      </lidar>
      <always_on>1</always_on>
      <visualize>true</visualize>
    </sensor>
  </gazebo>

</robot>
