<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">  

  <gazebo reference="chassis">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="rl_wheel_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="rr_wheel_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="fr_wheel_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="fl_wheel_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="imu_link">
    <gravity>true</gravity>
    <material>Gazebo/Grey</material>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu">
        <bodyName>imu_link</bodyName>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>imu_link</frameName>
        <initialOrientationAsReference>false</initialOrientationAsReference>
        <ros>
          <remapping>/imu/out:=/imu</remapping>
        </ros>
      </plugin>
    </sensor>
  </gazebo>

</robot>
